spring:
  ## redis
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0

  ## mysql
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/github?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8
    username: root
    password: rootmysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  ## 过滤掉boot项目启动加载的mysqlSession配置
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration,
             org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
logging:
  pattern:
    level: info